.container {
	padding: 1rem;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
}

.header {
	width: 100%;
	text-align: left;
	padding-bottom: 1rem;
}

.container h1 {
	color: var(--primary);
}

.tableContainer {
	width: 100%;
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
}