.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--primary);
    margin: 1rem;
	gap: 1rem;
}

.profile {
    width: 100%;
    /* padding: 0.5rem; */
}

.dashboard {
    width: 100%;
    /* padding: 0.5rem; */
}

.profileContainer,
.dashboardContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 15px;
    /* box-shadow: var(--shadow); */
}

.profileContents,
.dashboardContents {
    display: flex;
    gap: 5rem;
    width: 100%;
    padding: 1rem;
    /* justify-content: space-between; */
}

.profilePicture {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid var(--secondary);
}

.profilePicture img {
    object-fit: cover;
    width: 100%;
}

.profileSection1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfo h4,
.greyText {
    color: darkslategrey;
}

.profileSection2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileSection2 h4 {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    color: black;
}

@media screen and (max-width: 850px) {
    .profileContents,
    .dashboardContents {
        flex-direction: column;
        gap: 3rem;
    }
    .profileSection2 h4 {
        gap: 1rem;
    }
}

.neomorph {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    transition: box-shadow 0.2s;
}
