.sidebarContianer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.918);
    z-index: 100;
    flex-shrink: 0;

    transition: transform 0.25s;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 0;
    gap: 0.5rem;
}

.navItem {
    display: flex;
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.8rem;
}

.navItem:hover,
.active {
    background-color: #dee6ff;
}

.logout {
    color: red;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.logout:hover {
    box-shadow: 0 8px 32px -10px rgba(135, 31, 31, 0.4);
}

.hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    padding: 1rem;
    color: var(--primary);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .sidebarContianer:not(.menuactive) {
        transform: translateX(100%);
    }

    .sidebarContianer {
        width: 100%;
        position: fixed;
    }

    .hamburger {
        display: block;
    }
}
