@media print {
    .table,
    .tableBody {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

.search {
    width: 100%;
}

.search input {
    border: 2px solid var(--secondary);
    padding: 0.7rem 1rem;
    border-radius: 10px;
    width: 20rem;
}

@media screen and (max-width: 600px) {
	.search input {
		width: 100%;
	}
	
}

.search input::placeholder {
    color: black;
}

.table {
    /* width: 70vw; */
    /* height: 90vh; */
    background-color: #fff5;

    backdrop-filter: blur(7px);
    border-radius: 0.8rem;

    overflow: hidden;
}

.tableBody {
    width: 100%;
    max-height: fit-content;
    background-color: #fffb;

    margin: 0.8rem auto;
    border-radius: 0.6rem;

    overflow: auto;
    overflow: overlay;
}

.tableBody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--secondary);
    visibility: hidden;
}

.tableBody:hover::-webkit-scrollbar {
    visibility: visible;
}

.tableBody::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.tableBody:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #979fe922;
}

tbody tr {
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
    cursor: pointer;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: var(--secondary) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: 0.2s ease-in-out 0.5s;
}

.status {
    padding: 0.4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;

    text-align: center;
    font-size: 1rem;

    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active,
tbody td.active {
    color: #6c00bd;
}

.loaderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 15rem;
	width: 100%;
}

.action {
	display: flex;
	justify-content: start;
	font-size: 20px;
	align-items: center;
	gap: 0.1rem;
}

.action div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

.action div:hover {
	background-color: rgba(169, 169, 169, 0.726);
	border-radius: 50%;
}