@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Global variables */
#root {
    --primary: #456ff6;
    --secondary: #dee6ff;
    --font: "Plus Jakarta Sans", sans-serif;
    --major-font: Arial, Helvetica, sans-serif;
    --minor-font: system-ui;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    outline: none;
    vertical-align: baseline;
    border: none;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eef2ff;
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
    background-color: #eef2ff;
}

::-webkit-scrollbar-thumb {
    background-color: #456ff6;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}