.container {
	display: flex;
	justify-content: center;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media screen and (max-width: 600px) {
	.container {
		margin-top: 5rem;
		height: calc(100% - 5rem);
	}
}

.loaderContainer {
	display: flex;
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
}

.IdeaStatsContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	padding: 1rem .5rem;
	background-color: white;
	margin: 1rem;
	gap : 2rem;
	align-items: center;
	border-radius: 10px;
}

.IdeaPageHeader {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.IdeaStatsContainer .title {
	text-align: left;
	width: 100%;
	padding: 0 1rem;
	color: var(--primary);
}

.IdeaStatsRow {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.IdeaCSV {
	border: 3px dashed var(--primary);
	border-radius: 10px;
	background-color: var(--secondary);
	margin-right: 1rem;
	min-width: 10rem;
	padding: .5rem;
	gap: .5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.IdeaCSVContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.IdeaCSVContainer a {
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	.IdeaPageHeader {
		/* flex-direction: column; */
		justify-content: center;
		align-items: end;
	}
	.title {
		font-size: 46px;
		line-height: 50px;
	}
	.IdeaCSV {
		width: 80%;
		margin-right: 0;
		margin: .2rem;
		margin-bottom: 0;	
	}
	.IdeaCSVContainer {
		flex-direction: column;
		gap: .3rem;
		margin-top: 1rem;
	}
}

.tableContainer {
	width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
	.tableContainer {
		width: 55rem;
	}
}

@media screen and (max-width: 1150px) {
	.tableContainer {
		width: 45rem;
	}
}

.IdeaTypeSelect {
	width: 88%;
	display: flex;
	flex-wrap: wrap;
	gap: .8rem;
	color: var(--primary);
	align-items: center;
}

.IdeaTypeSelect .radixSelect {
	padding: .8rem;
	border-radius: 8px;
	min-width: 7rem;
	font-weight: bold;
	border: 3px dashed var(--primary);
	cursor: pointer;
}

.IdeaStatsWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

@media screen and (max-width: 600px) {
	.IdeaTypeSelect {
		gap: .5rem;
	}
}

/* Idea Card CSS */
.IdeaStatsCard {
	background-color: var(--secondary);
	padding: 1rem;
	border-radius: 10px;
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1010px) {
	.tableContainer {
		width: 40rem;
	}
	.IdeaStatsCard {
		min-width: 18rem;
	}
	.IdeaStatsWrapper {
		gap: 0;
	}
}

@media screen and (max-width: 950px) {
	.tableContainer {
		width: 35rem;
	}
}

@media screen and (max-width: 860px) {
	.tableContainer {
		width: 30rem;
	}
	.IdeaStatsCard {
		min-width: 18rem;
	}
	.IdeaStatsWrapper {
		gap: 2rem;
		flex-direction: column;
	}
}

@media screen and (max-width: 790px) {
	.tableContainer {
		width: 25rem;
	}
}

@media screen and (max-width: 700px) {
	.tableContainer {
		width: 20rem;
	}
}

@media screen and (max-width: 600px) {
	.tableContainer {
		width: 84vw;
		padding: 0;
	}
}

.IdeaStatsCard div {
	background-color: white;
	padding: 1rem;
	width: 100%;
	margin: 0 1rem;
	height: 6rem;
	border-radius: 10px;
	color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.IdeaCSVDownload {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-bottom: -30px;
}