.loginContainer {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
    z-index: 1;
    background-image: url(../../assets/loginBG.webp);
    background-size: 100% 100%;

    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.content img {
    height: 100px;
}

.loginCard {
    min-height: 200px;
    width: min(350px, 90vw);

    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    transition: box-shadow 0.2s;
}

.loginCard:hover {
    box-shadow: 0 8px 32px 2px rgba(31, 38, 135, 0.4);
}

.loginCard h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font);
}

.loginCard form {
    width: 100%;
}

/* .circleContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.circle {
    border-radius: 50%;
    width: 750px;
    height: 750px;

    position: absolute;
    background-color: green;
} */
